*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}
 
/* misure generali main e footer */
main{
    height: calc(100% - 100px);
    overflow: hidden;
}

footer{
    height: 100px;
    background-color: yellow;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* main */
/* button-fixed-top */
.button-fixed-top{
    height: 70px;
    width: 85%;
    background-color: black;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-fixed-top a{
    text-decoration: none;
    color: white;
}

.button-fixed-top button{
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 3em;
    border: 1px solid white;
    border-radius: 20px;
}

/* navbar left */
.navbar-left{
    height: 100%;
    width: 230px;
    padding: 1em;
    background-color: black;
    float: left;
}

.navbar-left-top{
    height: calc(100% - 80px);
}

.navbar-left .logo img{
    width: 80%;
}

.navbar-left .home-cerca-libreria ul{
    list-style: none;
    margin-top: 1.5em;
}

.navbar-left .home-cerca-libreria ul li{
    margin-bottom: 0.5em;
}

.navbar-left .home-cerca-libreria ul li a{
    text-decoration: none;
    color: #797c80;
    font-weight: bold;
}

.navbar-left .home-cerca-libreria ul li a img{
    width: 15%;
    vertical-align: middle;
}

.navbar-left .home-cerca-libreria ul li a span{
    font-size: 0.9em;
}

.crea-playlist{
    margin-top: 1.5em;
}

.crea-playlist h5{
    color: white;
}

.crea-playlist ul{
    list-style: none;
}

.crea-playlist ul li{
    margin-top: 0.5em;
}

.crea-playlist ul li i{
    color: gray;
    vertical-align: middle;
    font-size: 3em;
}

.crea-playlist ul li span{
    color: #797c80;
    font-weight: bold;
    margin-left: 0.5em;
}

.playlist-scroll li{
    color: #797c80;
    font-weight: bold;
    font-size: small;
    margin-bottom: 1em;
}

.navbar-left-bottom{
    height: 80px;
}

.installa-app div:first-of-type span{
    color: #797c80;
    font-weight: bold;
    font-size: small;
}

.installa-app div:last-of-type span{
    color: white;
    font-weight: bold;
}

.installa-app img{
    width: 10%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.installa-app div:last-of-type img{
    background-color: gray;
    width: 15%;
    border-radius: 50%;
}

.installa-app hr{
    border: 1px solid #797c80;
    margin: 0.5em 0;
}
/* main content */
.main-content{
    height: 90%;
    width: calc(100% - 230px);
    margin-top: 70px;
    padding: 0 1em;
    background-color: #141922;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
}
/* nav-main-content */
.main-content .nav-main-content ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1em 15em;
}

.main-content .nav-main-content a{
    text-decoration: none;
    color: #797c80;
    font-size: small;
    font-weight: bold;
}

.main-content .nav-main-content a:hover{
    color: white;
    border-bottom: 2px solid #adff2f;
}
/* recently-played */
.recently-played h2{
    color: white;
    margin-top: 1.5em;
}

.recently-played ul{
    list-style: none;
    display: flex;
}

.recently-played ul li{
    background-color: salmon;
    border: 1px solid white;
}

.recently-played ul h3{
    color: white;
    text-align: center;
}

.recently-played ul p{
    color: #797c80;
    font-size: small;
    font-weight: bold;
    text-align: center;
}



/* footer */
.navbar-footer{
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-footer-left,
.nav-footer-right{
    width: 25%;
    height: 100%;
    border: 1px solid black;
}

.nav-footer-center{
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

.navbar-footer .nav-footer-left img{
    width: 15%;
}
